/* prettier-ignore */
html,body, div, span, iframe,
h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, address,
em, img, small, strong, sub, sup, b, u, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, table, caption,
tbody, tfoot, thead, tr, th, td,
article, aside, figure, figcaption,
footer, header, menu, nav, ruby, section, mark,
audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/* prettier-ignore */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, main, nav, section {
  display: block;
}
body {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 600;
  line-height: 1.6;
  letter-spacing: 0.02em;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
  max-height: 100%;
}

a,
a:hover,
a:visited,
a:active,
a:focus {
  text-decoration: none;
  color: inherit;
}
p {
  font-family: "OpenSans", "Arial", sans-serif;
  font-weight: 600;
}
